@font-face {
    font-family: TT Lakes;
    src: url(TTLakes/TTLakes-Regular.ttf) format('ttf');
    font-weight: normal;
}
@font-face {
    font-family: TT Lakes;
    src: url(TTLakes/TTLakes-Bold.ttf)format('ttf');
    font-weight: bold;
}
@font-face {
    font-family: TT Lakes;
    src: url(TTLakes/TTLakes-DemiBold.ttf)format('ttf');
    font-weight: 600;
}